<section class="error-page position-relative">
  <div class="container">
    <div class="header py-2">
      <img src="../../../../assets/images/auth-logo.svg" class="img-fluid" alt="logo">
    </div>
    <div class="row align-items-center mt-3 mt-md-0">
      <!--right-->
      <div class="col-md-4 order-2 order-md-1 ">
        <div class="ps-md-4">
          <div class="error-content">
            <h1>Oops.... </h1>
            <p class="not-found">Page not found </p>
            <p class="description">This Page doesn’t exist or was removed!
              We suggest you back to home.</p>
          </div>
          <div class="button-container  mt-4">
            <button class="main-button" routerLink="/dashboard/home">
              <i class="fa-solid fa-arrow-left"></i>
              Back to Home
            </button>
          </div>
        </div>
      </div>
      <!---Left-->
      <div class="col-md-8 order-1 order-md-2">
        <div class="img-content d-flex justify-content-center align-items-center">
          <img src="../../../../assets/images/error-1.png" class="img-fluid" alt="error image">
        </div>
      </div>
    </div>
  </div>
</section>
