<!----Auth Header------->
    <div class="w-100">
      <app-auth-header [title]="'Log In'" [description]="'Welcome Back! Please enter your details'" />
    </div>
    <!------------>

    <form class="w-100" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <app-form-input [control]="getControl('email')" placeholder="Enter your Email"
        iconClass="fa-regular fa-envelope" />

      <app-form-input [control]="getControl('password')" placeholder="Enter Your Password" iconClass="fa-solid fa-lock"
        [patternErrorMessage]="'Password must be at least 6 characters long and has upper, lower, (#$@4)'"
        [showToggle]="true" />

      <div class="d-flex justify-content-between align-items-center mb-4">
        <a routerLink="/auth/register" class="text-decoration-none text-link auth-link">Register Now?</a>
        <a routerLink="/auth/forgot-password" class="text-decoration-none text-primary auth-link">Forgot Password?</a>
      </div>
      <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <button type="submit" class="w-100"> <!--[disabled]="!loginForm.valid"-->
        <div class="spinner-border text-white" role="status" *ngIf="isLoading">
          <span class="visually-hidden">Loading...</span>
        </div>
        Login
      </button>
    </form>
