.modal-body {
  text-align: center;
  padding-bottom: 24px;
  gap: 22px;
}
.modal-header{
  padding-top: 41px;
}


.img-container {
  width: 287;
  height: 274.6;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  font-size: 1.25rem;
  font-family: var(--secondary-font-family);
  margin-top: 20px;
  color: #494949;
}

p {
  font-family: var(--secondary-font-family);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #49494999;
  text-transform: capitalize;
  width: 80%;
  margin: 10px auto;
}
