<div class="modal-header justify-content-end border-0 pb-0">
  <button type="button" class="cancel d-flex justify-content-center align-items-center text-danger border border-2 rounded-circle bg-transparent
   border-danger" (click)="cancel()">
    <i class="fa-solid fa-xmark text-danger fs-6"></i>
  </button>
</div>

<div class="modal-body w-100 d-flex flex-column justify-content-center align-items-center">
  <div class="loader-container flex-column d-flex justify-content-center align-items-center h-100">
    <div class="img-container">
      <img src="../../../../assets/images/empty-image.png" alt="empty" class="img-fluid">
    </div>
    <p class="title">Delete {{title}} ?</p>
    <p class="" [innerHTML]="message"></p>
  </div>

  <div class="modal-footer d-flex justify-content-end w-100 border-0 pt-0">
    <!-- <button class="btn btn-outline-dark" (click)="cancel()">
      Cancel
    </button> -->

    <button class="btn btn-outline-danger text-capitalize" (click)="confirm()">
      Delete this item
    </button>
  </div>
</div>
