<header class="app-header">
  <div class="search-bar">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i> </span>
      <input type="text" class="form-control" placeholder="Search Here .." aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
  </div>

  <div class="header-right">
    <!-- User Dropdown -->
    <div>
      <div *ngIf="currentUser" dropdown placement="top" container="body">

        <!-- Trigger -->
        <div class="user-row drop-down-toggler" dropdownToggle>
          <div class="avatar-img d-flex justify-content-center align-items-center" *ngIf="currentUser.imagePath">
            <img [src]="assetUrl + currentUser.imagePath" (error)="onImageError($event)" [alt]="currentUser.userName">
          </div>
          <div class="avatar d-flex justify-content-center align-items-center" *ngIf="!currentUser.imagePath">{{
            currentUser.userName.slice(0,2).toUpperCase() }}</div>
          <div class="user-info">
            <p class="user-name">{{ currentUser.userName }}</p>
          </div>
          <i class="fa-solid fa-angle-down"></i>
        </div>

        <!-- Menu -->
        <ul *dropdownMenu class="dropdown-menu sidebar-dropdown"  role="menu"
          style="left: auto; right: -70px;top:60px;;" role="menu"> <!--[ngClass]="isSuperAdmin ? 'menu-super' : 'menu-regular'"-->

          <!-- Header -->
          <li class="dropdown-header">
            <div class="d-flex align-items-center gap-2">
              <div class="avatar-img avatar-img-1 d-flex justify-content-center align-items-center" *ngIf="currentUser.imagePath">
                <img [src]="assetUrl + currentUser.imagePath" (error)="onImageError($event)" [alt]="currentUser.userName">
              </div>
              <div class="avatar avatar-sm d-flex justify-content-center align-items-center"
                *ngIf="!currentUser.imagePath">{{ currentUser.userName.slice(0,2).toUpperCase() }}</div>

              <div>
                <p class="mb-0 user-name">{{ currentUser.userName }}</p>
                <small class="user-role">{{ currentUser.email }}</small>
              </div>
            </div>
          </li>

          <li class="divider dropdown-divider"></li>

          <li role="menuitem">
            <a class="dropdown-item" routerLink="/dashboard/profile" [routerLinkActive]="'active'">
              <i class="bi bi-person me-2"></i> Profile
            </a>
          </li>
          <!-- <li role="menuitem" *ngIf="isSuperAdmin">
            <a class="dropdown-item" routerLink="/dashboard/create-admin">
              <i class="bi bi-key me-2"></i> Create Admin
            </a>
          </li> -->
          <li role="menuitem">
            <a class="dropdown-item" (click)="changePassword()">
              <i class="bi bi-key me-2"></i> Change Password
            </a>
          </li>

          <li class="divider dropdown-divider"></li>

          <li role="menuitem" class="my-2">
            <a class="dropdown-item text-danger" (click)="logout()">
              <i class="fa fa-sign-out-alt me-2"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!--Notifications Bell-->
    <button class="icon-btn">
      <i class="fas fa-bell"></i>
    </button>

    <!--Toggle Sidebar in small screens---->
    <button *ngIf="(isMobile$ | async)" class="icon-btn toggle-btn" (click)="toggleSidebar()">
      <span></span><span></span><span></span>
    </button>

  </div>
</header>
