<div class="input-group mb-3 position-relative">

  <!-- Icon -->
  <span class="input-group-text">
    <ng-container *ngIf="iconClass">
      <i [class]="iconClass"></i>
    </ng-container>
  </span>

  <!-- Input -->
  <input class="form-control" [type]="showToggle ? (showPassword ? 'text' : 'password') : type"
    [placeholder]="placeholder" [formControl]="control" />

  <!-- Password Toggle-->
  <i *ngIf="showToggle" class="fa-regular pass-icon" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
    (click)="togglePassword()"></i>
</div>

<!-- Error Messages -->
<div class="alert alert-danger py-2" *ngIf="control?.errors && control?.touched">
  <div *ngIf="control.errors?.['required']">
   This Field is required.
  </div>

  <div *ngIf="control.errors?.['email']">
    Please enter a valid email.
  </div>

  <div *ngIf="control.errors?.['maxlength']">
    {{maxLengthErrorMessage}}
  </div>

  <div *ngIf="control.errors?.['pattern']">
    {{patternErrorMessage}}
  </div>
</div>

<!---Form Pass Matching Error-->
<div class="alert alert-danger" *ngIf="formErrorMessage && hasFormError()">
  {{ formErrorMessage }}
</div>
