<div class="modal-header border-bottom-0 d-flex justify-content-between align-items-center">
    <h4 class="modal-title">
      {{ isEditMode ? 'Edit Category' : 'Add Category' }}
    </h4>

    <button type="button" class="cancel d-flex justify-content-center align-items-center text-danger border border-2 rounded-circle bg-transparent
        border-danger" (click)="cancel()">
    <i class="fa-solid fa-xmark text-danger fs-6"></i>
  </button>
  </div>

<form [formGroup]="addCategoryForm" (ngSubmit)="submit()">
  <div class="modal-body">
    <app-loader *ngIf="loadingData"></app-loader>
    <div class="col-12" *ngIf="!loadingData">
      <div class="floating-group  mb-2">
        <input type="text" class="form-control floating-input" [readonly]="isViewMode" formControlName="name" placeholder=" " />
        <label class="floating-label">Category Name</label>
      </div>
      <div class="text-danger text-capitalize error-msg mt-2 d-flex align-items-center" role="alert"
        *ngIf="addCategoryForm.get('name')?.errors && addCategoryForm.get('name')?.touched">
        <div *ngIf="addCategoryForm.get('name')?.errors?.['required']">this Field is required.</div>
        <div *ngIf="addCategoryForm.get('name')?.errors?.['minlength']">Name Must be at least 4 Letters</div>
      </div>
    </div>
    <!---error Mssage-------->
    <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
  <!--action button-->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger px-2" (click)="cancel()" *ngIf="isViewMode">
      Cancel
    </button>

    <button type="submit" class="btn btn-success px-3" *ngIf="!isViewMode">
      <div class="spinner-border text-white" role="status" *ngIf="isLoading">
        <span class="visually-hidden">Loading...</span>
      </div>
      {{ isEditMode ? 'Edit Category' : 'Add Category' }}
    </button>
  </div>
</form>
