<!-- modal-header -->
<div class="modal-header border-bottom-0">
  <button type="button" class="cancel d-flex justify-content-center align-items-center text-danger border
  border-2 rounded-circle bg-transparent
        border-danger" (click)="cancel()">
    <i class="fa-solid fa-xmark text-danger fs-6"></i>
  </button>
</div>

<!-- modal-body -->
<div class="modal-body">
  <section class="auth-card bg-white d-flex flex-column align-items-center mx-md-5 mx-0">
    <!----Auth Header------->
    <div class="w-100">
      <app-auth-header [title]="'Change Your Password'"
        [description]="'Enter your details below'" />
    </div>
    <!------------>

    <form class="w-100" [formGroup]="forgotPassForm" (ngSubmit)="onChangePass()">
      <!--Password start-->
      <app-form-input [control]="getControl('oldPassword')" placeholder="Enter Your Old Password" iconClass="fa-solid fa-lock"
        [patternErrorMessage]="'Password must be at least 6 characters long and has upper, lower, (#$@4)'"
        [showToggle]="true" />
      <!--password end-->

      <!--New Password start-->
      <app-form-input [control]="getControl('newPassword')" placeholder="Enter Your New Password" iconClass="fa-solid fa-lock"
        [patternErrorMessage]="'Password must be at least 6 characters long and has upper, lower, (#$@4)'"
        [showToggle]="true" />
      <!--New password end-->
      <!---Confirm Password Start-->
      <app-form-input [control]="getControl('confirmNewPassword')" placeholder="Confirm New Password"
        [formGroup]="forgotPassForm" formErrorKey="PasswordNoMatch" formErrorMessage="Password doesn't match"
        iconClass="fa-solid fa-lock" [showToggle]="true" />

      <!---Confirm Password End-->
      <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <button type="submit" class="w-100">
        <div class="spinner-border text-white" role="status" *ngIf="isLoading">
          <span class="visually-hidden">Loading...</span>
        </div>
        Send
      </button>
    </form>
  </section>
</div>

