<!-- <section class="auth-container fluid-container">
  <div class="auth-card bg-white d-flex flex-column align-items-center"> -->

    <!----Auth Header------->
    <div class="w-100">
      <app-auth-header [title]="'Register'" [description]="'Welcome! Please enter your details'" />
    </div>
    <!------------>

    <form class="w-100 row" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="col-12 col-md-6">
        <app-form-input [control]="getControl('userName')" placeholder="Enter your Name" iconClass="fa-regular fa-user"
          [patternErrorMessage]="'The userName must contain characters and end with numbers without spaces'"
          [maxLengthErrorMessage]="'User Name must be at most 8 characters long.'" />
      </div>

      <div class="col-12 col-md-6">
        <app-form-input [control]="getControl('email')" placeholder="Enter your Email"
          iconClass="fa-regular fa-envelope" />
      </div>
      <!-- country Input -->
      <div class="col-12 col-md-6">
        <app-form-input [control]="getControl('country')" placeholder="Enter your country"
          iconClass="fa-regular fa-flag" />
      </div>

      <!-- phoneNumber Input -->
      <div class="col-12 col-md-6">
        <ngx-intl-tel-input [cssClass]="
          'form-control' +
          (registerForm.get('phoneNumber')?.touched && registerForm.get('phoneNumber')?.invalid
            ? ' is-invalid'
            : '')
        " [preferredCountries]="[CountryISO.Egypt]" [enableAutoCountrySelect]="false" [searchCountryFlag]="true"
          [searchCountryField]="[SearchCountryField.All]" [selectFirstCountry]="true"
          formControlName="phoneNumber"></ngx-intl-tel-input>

        <div class="alert alert-danger mt-2 py-2"
          *ngIf="registerForm.get('phoneNumber')?.errors && registerForm.get('phoneNumber')?.touched">
          <div *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">
            This Field is required.
          </div>
          <div *ngIf="registerForm.get('phoneNumber')?.errors?.['validatePhoneNumber']?.valid === false">
            Please enter a valid phone number.
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <app-form-input [control]="getControl('password')" placeholder="Enter Your Password"
          iconClass="fa-solid fa-lock"
          [patternErrorMessage]="'Password must be at least 6 characters long and has upper, lower, (#$@4)'"
          [showToggle]="true" />
      </div>

      <div class="col-12 col-md-6">
        <app-form-input [control]="getControl('confirmPassword')" placeholder="confirm Password"
          [formGroup]="registerForm" formErrorKey="PasswordNoMatch" formErrorMessage="Password doesn't match"
          iconClass="fa-solid fa-lock" [showToggle]="true" />
      </div>

      <!------Photo Section------->
      <label class="mb-2 text-secondary fw-semibold d-block profile-label">Profile Image</label>
      <ngx-file-drop dropZoneLabel="Drop Your Profile image here" accept=".jpg,.jpeg,.png"
        (onFileDrop)="onFileDrop($event)" (onFileOver)="onFileOver($event)" (onFileLeave)="onFileLeave($event)">

        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">

          <!-- Preview -->
          <div *ngIf="imagePreview; else uploadPrompt" class="position-relative mt-4">
            <img [src]="imagePreview" alt="preview" class="img-preview" />
            <button type="button" class="btn btn-sm btn-danger remove-btn mt-2" (click)="removeImage()"><i
                class="fa-solid fa-xmark"></i></button>
          </div>

          <!-- Upload prompt -->
          <ng-template #uploadPrompt>
            <div class="text-center">
              <i class="fa fa-cloud-upload fa-2x text-success"></i>
              <p class="mb-1 text-secondary">Drop Your Profile Image Here</p>
              <p class="text-success">Drag & drop or
                <button type="button" class="btn btn-link browse-btn p-0" (click)="openFileSelector()">
                  browse
                </button>
              </p>
            </div>
          </ng-template>

        </ng-template>
      </ngx-file-drop>

      <div class="d-flex justify-content-end align-items-center fw-semibold mb-4 mt-3">
        <a routerLink="/auth" class="text-decoration-none text-primary auth-link">Login Now?</a>
      </div>

      <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <div class="alert alert-danger" *ngIf="serverValidationErrors.length">
        <ul>
          <li *ngFor="let err of serverValidationErrors">{{ err }}</li>
        </ul>
      </div>

      <button type="submit" class="w-100">
        <div class="spinner-border text-white" role="status" *ngIf="isLoading">
          <span class="visually-hidden">Loading...</span>
        </div>
        Register
      </button>
    </form>
  <!-- </div>
</section> -->
