<section class="container">
  <section class="row">
    <section class="col-md-8 offset-md-2">
      <div class="mt-4">
        <h1>My Profile</h1>
      </div>

      <app-loader *ngIf="loadingData;else formData"></app-loader>
      <ng-template #formData>
        <form (ngSubmit)="onSubmit()" [formGroup]="profileForm" >
          <!-- User Name -->
          <div class="col-12">
            <div class="floating-group mb-2">
              <input type="text" class="form-control floating-input" formControlName="userName" placeholder=" " />
              <label class="floating-label">
                User Name
              </label>
            </div>

            <div class="text-danger text-capitalize error-msg mt-2 d-flex align-items-center"
              *ngIf="profileForm.get('userName')?.errors && (profileForm.get('userName')?.touched || profileForm.get('userName')?.dirty)">
              <div *ngIf="profileForm.get('userName')?.errors?.['required']">
                This field is required.
              </div>
              <div *ngIf="profileForm.get('userName')?.errors?.['minlength']">
                Username must be at least 8 letters.
              </div>
              <div *ngIf="profileForm.get('userName')?.errors?.['pattern']">
                The userName must contain characters and end with numbers without spaces
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="col-12">
            <div class="floating-group mb-2">
              <input type="email" class="form-control floating-input" formControlName="email" placeholder="" readonly />
              <label class="floating-label">
                Email Address
              </label>
            </div>

            <div class="text-danger text-capitalize error-msg mt-2"
              *ngIf="profileForm.get('email')?.errors && (profileForm.get('email')?.touched || profileForm.get('email')?.dirty)">
              <div *ngIf="profileForm.get('email')?.errors?.['required']">
                This field is required.
              </div>
              <div *ngIf="profileForm.get('email')?.errors?.['email']">
                Enter a valid email address.
              </div>
            </div>
          </div>

          <!-- Country -->
          <div class="col-12">
            <div class="floating-group mb-2">
              <input type="text" class="form-control floating-input" formControlName="country" placeholder=" " />
              <label class="floating-label">
                Country
              </label>
            </div>

            <div class="text-danger text-capitalize error-msg mt-2"
              *ngIf="profileForm.get('country')?.errors && (profileForm.get('country')?.touched || profileForm.get('country')?.dirty)">
              <div *ngIf="profileForm.get('country')?.errors?.['required']">
                This field is required.
              </div>
            </div>
          </div>

          <!-- Phone Number -->
          <div class="col-12 mb-2">
            <ngx-intl-tel-input [cssClass]="'form-control' +
          ((profileForm.get('phoneNumber')?.touched || (profileForm.get('phoneNumber')?.dirty)) && profileForm.get('phoneNumber')?.invalid ? ' is-invalid': '')
        " [preferredCountries]="[CountryISO.Egypt]" [enableAutoCountrySelect]="false" [searchCountryFlag]="true"
              [searchCountryField]="[SearchCountryField.All]" [selectFirstCountry]="true"
              formControlName="phoneNumber"></ngx-intl-tel-input>

            <div class="text-danger text-capitalize error-msg"
              *ngIf="profileForm.get('phoneNumber')?.errors && (profileForm.get('phoneNumber')?.touched || profileForm.get('phoneNumber')?.dirty)">
              <div *ngIf="profileForm.get('phoneNumber')?.errors?.['required']">
                This Field is required.
              </div>
              <div *ngIf="profileForm.get('phoneNumber')?.errors?.['validatePhoneNumber']?.valid === false">
                Please enter a valid phone number.
              </div>
            </div>
          </div>

          <!-- Confirm Password -->
          <div class="col-12">
            <div class="floating-group mb-2 position-relative">
              <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control floating-input pe-5"
                formControlName="confirmPassword" placeholder=" " />
              <label class="floating-label">
                Your Password
              </label>

              <button type="button" class="password-toggle-btn" (click)="showConfirmPassword = !showConfirmPassword">
                <i class="fa-solid" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>

            <div class="text-danger text-capitalize error-msg mt-2"
              *ngIf="profileForm.get('confirmPassword')?.errors && (profileForm.get('confirmPassword')?.touched || profileForm.get('confirmPassword')?.dirty)">
              <div *ngIf="profileForm.get('confirmPassword')?.errors?.['required']">
                This field is required.
              </div>
            </div>
          </div>

          <!-- Profile Image -->
          <div class="col-12">
            <app-file-drop [existingImage]="imagePreview" [label]="'Drop Profile Image Here'" [isInvalid]="profileForm.get('profileImage')?.invalid
              && (profileForm.get('profileImage')?.touched || profileForm.get('profileImage')?.dirty)" (fileSelected)="onImageSelected($event)"
              (fileRemoved)="onImageRemoved()">
            </app-file-drop>
          </div>

          <!--Backend Validaion Errors---->
          <div class="alert alert-danger" *ngIf="serverValidationErrors.length">
            <ul>
              <li *ngFor="let err of serverValidationErrors">{{ err }}</li>
            </ul>
          </div>
          <!-- Server Error -->
          <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>

          <!-- Buttons -->
          <div class="ms-auto col-12 d-flex gap-3 align-items-center flex-wrap justify-content-end buttons-container">
            <button type="button" class="btn btn-outline-danger">
              Cancel
            </button>

            <button type="submit"
              class="btn btn-success d-inline-flex justify-content-center align-items-center gap-2 px-4">
              <div class="spinner-border text-white" role="status" *ngIf="isLoading">
                <span class="visually-hidden">
                  Loading...
                </span>
              </div>
              Save
            </button>
          </div>
        </form>
      </ng-template>
    </section>
  </section>
</section>
