<app-pages-header [title1]="'Users'" [title2]="'List'"
  [description]="'Manage users by viewing details or removing accounts from the system.'"></app-pages-header>

<section class="container">
  <div class="row align-items-center recipes-heading">
    <div class="col-lg-8">
      <div>
        <h2>Users Table Details</h2>
        <p class="py-0 my-0">You can check all details</p>
      </div>
    </div>
  </div>
</section>

<!-- <div class="filters">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-2 d-flex flex-wrap align-items-center gap-3">
        <label>Search By : </label>
        <div class="flex-fill">
          <select class="form-select" aria-label="Default select example" [(ngModel)]="searhType">
            <option value="1">User Name</option>
            <option value="2">Email</option>
            <option value="3">Country </option>
          </select>
        </div>
      </div>

      <div class="col-md-4 mb-2">
        <div class="w-100" *ngIf="searhType === '1'">
            <input type="text" class="form-control" [(ngModel)]="name" (ngModelChange)="onSearchChange($event)"
              placeholder="Search Here with User Name .." aria-label="name" aria-describedby="basic-addon1">
        </div>

        <div class="w-100" *ngIf="searhType === '2'">
            <input type="email" class="form-control" [(ngModel)]="email" (ngModelChange)="onSearchChange($event)"
              placeholder="Search Here with Email .." aria-label="name" aria-describedby="basic-addon1">
        </div>

        <div class="w-100" *ngIf="searhType === '3'">
            <input type="text" class="form-control" [(ngModel)]="country" (ngModelChange)="onSearchChange($event)"
              placeholder="Search Here with Country Name .." aria-label="name" aria-describedby="basic-addon1">
        </div>
      </div>

      <div class="col-md-3 mb-2">
        <ng-select [items]="groups" bindLabel="userRole" bindValue="id" placeholder="Select User role"
          [(ngModel)]="group" (ngModelChange)="onFilterChange()" [multiple]="true">
        </ng-select>
      </div>
    </div>
  </div>
</div> -->

<!-- LOADER -->
<section class="my-4 text-center" *ngIf="isLoading">
  <app-loader></app-loader>
</section>

<!-- EMPTY STATE -->
<section class="my-4 text-center" *ngIf="!isLoading && users.length === 0">
  <app-empty-state></app-empty-state>
</section>

<!-- DATA -->
<section class="my-3 table-responsive" *ngIf="!isLoading && users.length > 0">
  <table class="table table-striped mb-5">
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Image</th>
        <th scope="col">Email</th>
        <th scope="col">Country</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Group</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | paginate: {id:'users', itemsPerPage: pageSize,
      currentPage: pageNumber,
      totalItems: total}">
        <td> {{user?.userName}}</td>
        <td class="text-center align-middle">
          <div class="img-content">
            <img [src]="assetUrl + user?.imagePath" (error)="onImageError($event)" [alt]="user?.userName">
          </div>
        </td>
        <td>{{user?.email}}</td>
        <td>{{ user?.country }}</td>
        <td>{{ user?.phoneNumber }}</td>
        <td>
          <span class="py-1 px-2 rounded-1" style="background-color: rgb(244, 248, 242);">
            {{ userRole(user.group) }}
          </span>
        </td>
        <td>
          <div dropdown placement="bottom end" container="body">
            <!-- Trigger -->
            <div class="drop-down-toggler d-flex align-items-center justify-content-center" dropdownToggle>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>

            <!-- Menu -->
            <ul *dropdownMenu class="dropdown-menu sidebar-dropdown" [class.user-dropdown]="isUser(user.group)"
              role="menu">
              <!-- View -->
              <li role="menuitem mb-3">
                <a class="dropdown-item" (click)="onView(user)">
                  <i class="fa fa-eye me-2"></i> View
                </a>
              </li>

              <!-- Delete -->
              <li role="menuitem" class="pb-4" *ngIf="isUser(user.group)">
                <a class="dropdown-item" (click)="openDeleteModal(user)">
                  <i class="fa fa-trash me-2"></i> Delete
                </a>
              </li>
            </ul>

          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="my-pagination" id="users" [directionLinks]="true" [autoHide]="false" [responsive]="true"
    (pageChange)="pageNumber = $event; getAllUsers()">
  </pagination-controls>
</section>