<section class="home-section pt-4 pt-lg-0">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8">
        <header class="ps-lg-5">
          <h1 class="text-capitalize slide-up">
            {{title1}} <span> {{title2}}</span>
          </h1>
          <p class="slide-up-delay">
            {{description}}
          </p>
        </header>
      </div>
      <div class="col-lg-4">
        <div class="img-container">
          <img src="../../../assets/images/recipes-header.png" alt="header-image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
