/*****Recipes Section***********/
.recipe-section {
  background-color: #f0ffef;
  border-radius: 15px;
  padding: 40px 0;
  margin-top: 16px;
  margin-bottom: 54px;
}

.recipe-section .recipe-heading h2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--heading-color);
}

.recipe-section .recipe-heading h2,
.recipe-section .recipe-heading p {
  font-family: var(--font-family);
  text-align: center;
}

.recipe-section .recipe-heading h2 span {
  color: var(--primary-color);
}
.recipe-section .recipe-heading p {
  font-weight: 400;
  color: #1f263e;
}
.recipe-section .recipe-heading h1 span {
  font-size: 2rem;
}

.recipe-section .recipe-heading p {
  font-size: 16px;
  letter-spacing: 4%;
  line-height: 24px;
}

/*******/
@media screen and (min-width: 992px) {
  .recipe-section .recipe-heading h2,
  .recipe-section .recipe-heading p {
    text-align: left;
  }
  .button-container {
    text-align: right;
  }
}

/****Form Styling******************/
form {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttons-container {
  margin-top: 40px;
  padding-top: 60px;
  border-top: 3px solid #f7f7f7;
}
.input-group-text {
  border: none;
  background: #f7f7f7;
}
.error-msg {
  font-size: 14px;
}

/*******Input Floating label Effect************/
.floating-group {
  position: relative;
}

.floating-input {
  width: 100%;
  padding: 14px 12px;
  border-radius: 8px;
  background: #f7f7f7;
}

::ng-deep .ng-select .ng-select-container {
  background-color: #f7f7f7 !important;
  color: #1F263E;
}

.textarea-label,.price-label{
  color: #1F263E!important;
}
.floating-input:not(textarea.floating-input) {
  height: 40px;
}

/* label inside field */
.floating-label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888f81;
  pointer-events: none;
  transition: 0.2s ease;
  background: #f7f7f7;
  padding: 0 5px;
}

.textarea-label {
  top: 20%;
}
/* move label up on focus or when value exists */
.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label {
  top: 0;
  font-size: 12px;
  color: #28a745;
  transform: translateY(-50%);
}

input[type="number"] {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--primary-color);
  outline: none;
}

/*select */
::ng-deep .ng-select .ng-placeholder {
  color: #342e2e !important;
}
