<section class="auth-container">
  <div class="auth-card bg-white d-flex flex-column align-items-center">
    <!-- <header class="mb-4">
      <img src="../../assets/images/auth-logo.svg" alt="Logo">
    </header>

    <div class="header">
      <h1 class="text-capitalize"> Verify Account </h1>
      <p>Please Enter Your OTP or Check Your Inbox</p>
    </div> -->

    <!-----Auth Header------>
    <div class="w-100">
      <app-auth-header [title]="'Reset Password'" [description]="'Please Enter Your OTP or Check Your Inbox'" />
    </div>
    <!------------>
    <form class="w-100" [formGroup]="resetPassForm" (ngSubmit)="onVerify()">
      <app-form-input [control]="getControl('email')" placeholder="Enter your Email"
        iconClass="fa-regular fa-envelope" />

      <!---Otp Code Start-->
      <app-form-input [control]="getControl('seed')" placeholder="OTP" iconClass="fa-solid fa-lock" />
      <!---Otp Code End-->

      <!--Password start-->
      <app-form-input [control]="getControl('password')" placeholder="Enter Your Password" iconClass="fa-solid fa-lock"
        [patternErrorMessage]="'Password must be at least 6 characters long and has upper, lower, (#$@4)'"
        [showToggle]="true" />
      <!--password end-->
      <!---Confirm Password Start-->
      <app-form-input [control]="getControl('confirmPassword')" placeholder="confirm Password"
        [formGroup]="resetPassForm" formErrorKey="PasswordNoMatch" formErrorMessage="Password doesn't match"
        iconClass="fa-solid fa-lock" [showToggle]="true" />

      <!---Confirm Password End-->
      <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <button type="submit" class="w-100">
        <div class="spinner-border text-white" role="status" *ngIf="isLoading">
          <span class="visually-hidden">Loading...</span>
        </div>
        Send
      </button>
    </form>
  </div>
</section>