<!----Auth Header------->
<div class="w-100">
  <app-auth-header [title]="'Verify Account'" [description]="'Please Enter Your OTP or Check Your Inbox'" />
</div>
<!------------>
<form class="w-100" [formGroup]="verifyForm" (ngSubmit)="onVerify()">
  <app-form-input [control]="getControl('email')" placeholder="Enter your Email" iconClass="fa-regular fa-envelope" />

  <!---Otp Code Start-->
  <app-form-input [control]="getControl('code')" placeholder="OTP" iconClass="fa-solid fa-lock" />
  <!---Otp Code End-->

  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <button type="submit" class="w-100">
    <div class="spinner-border text-white" role="status" *ngIf="isLoading">
      <span class="visually-hidden">Loading...</span>
    </div>
    Send
  </button>
</form>
