<section class="auth-container">
  <div class="auth-card bg-white d-flex flex-column align-items-center">

    <!----Auth Header------->
    <div class="w-100">
      <app-auth-header [title]="'Forgot Your Password?'"
        [description]="'No worries! Please enter your email and we will send a password reset link '" />
    </div>
    <!------------>

    <form class="w-100" [formGroup]="forgotPassForm" (ngSubmit)="onLogin()">
      <app-form-input [control]="getControl('email')" placeholder="Enter your Email"
        iconClass="fa-regular fa-envelope" />

      <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <button type="submit" class="w-100">
        <div class="spinner-border text-white" role="status" *ngIf="isLoading">
          <span class="visually-hidden">Loading...</span>
        </div>
        Submit
      </button>
    </form>
  </div>
</section>