<section class="auth-container">
  <div class="auth-card bg-white d-flex flex-column align-items-center">
    <header class="mb-4">
      <img src="../../assets/images/auth-logo.svg" alt="Logo">
    </header>

    <div class="header">
      <h1 class="text-capitalize">Forgot Your Password?</h1>
      <p>No worries! Please enter your email and we will send a password reset link </p>
    </div>

    <form class="w-100" [formGroup]="forgotPassForm" (ngSubmit)="onLogin()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
          <img src="../../assets/images/mob.svg" alt="mob Icon">
        </span>
        <input type="email" class="form-control" placeholder="Enter your E-mail" aria-label="Email"
          aria-describedby="basic-addon1" formControlName="email">
      </div>

      <div class="alert alert-danger d-flex align-items-center" role="alert"
        *ngIf="forgotPassForm.get('email')?.errors && forgotPassForm.get('email')?.touched">
        <div *ngIf="forgotPassForm.get('email')?.errors?.['required']">Email is required.</div>
        <div *ngIf="forgotPassForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
      </div>

      <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <button type="submit" class="w-100"> <!--[disabled]="!forgotPassForm.valid"-->
        <div class="spinner-border text-white" role="status" *ngIf="isLoading">
          <span class="visually-hidden">Loading...</span>
        </div>
        Submit
      </button>
    </form>
  </div>
</section>
