.auth-container {
  min-height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
  background:
    url("../../../../assets/images/auth-1.png"),
    url("../../../../assets/images/auth-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem;
}

.auth-card {
  width: 100%;
  max-width: 80%;
  padding: 5rem 4.375rem;
  border-radius: 16px;
  background: var(--white-color);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.spinner-border {
  width: 20px;
  height: 20px;
}

/*********** Responsive Styles * **********/
@media screen and (min-width: 1200px) {
  .auth-card {
    max-width: 55%;
  }
}
